# Q1 Create a python program to sort the given list of tuples based on integer value using a lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
data

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [2]:
data.sort(key = lambda x : x[1])
print(data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

# Q2 Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Using lambda function

data_q2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def square(data_q2):
    return map(lambda x: x ** 2, data_q2)

In [4]:
a = square(data_q2)

In [5]:
list(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3 Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
given = [1,2,3,4,5,6,7,8,9,10]
convert = []
for i in given:
    convert.append(str(i))   

def list_to_tuple(convert):
    return map(lambda x : tuple(convert) , convert)
a = list_to_tuple(convert)
print(tuple(a))

(('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'), ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10'))

# Q4 Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [16]:
from functools import reduce

In [17]:
l  = list(range(1,26))

In [30]:
a =  reduce((lambda x , y : x*y ), l)
a

15511210043330985984000000

# Q5 Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [32]:
 l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [38]:
a = filter((lambda x : x%2==0 or x%3==0),l)
list(a)

[2, 3, 6, 9, 27, 60, 90, 120, 46]

# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function. ['python', 'php', 'aba', 'radar', 'level']

In [40]:
l = ['python', 'php', 'aba', 'radar', 'level']

In [48]:

print("Orginal list of strings:")
print(l) 
result = list(filter(lambda x: (x == "".join(reversed(x))), l)) 
print("\nList of palindromes:")
print(result)

Orginal list of strings:
['python', 'php', 'aba', 'radar', 'level']

List of palindromes:
['php', 'aba', 'radar', 'level']